/brandname(test).py
/catagory(finding).py
/here_is_everything.py
/index.html
/index1.html
/journey
/new.py
/newtest(description).py
/new_method(halfworks).py
/output_data.csv
/scraper.py
/testing.py
/url_list.csv